/* ------------------ Markdown Text Highlighter ------------------------ */
strong {
  /* font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace; */
  color: #e83e8c;
}

.embedVideo-container {
  text-align: center;
}
/* ------------------ Customized GIF files Size ------------------------ */
.custom-block.gifSize .custom-block-body {
  text-align: center;
}

.custom-block.gifSize img {
  max-width: 400px;
  height: auto;
  margin: 10px 0;
}
/* ------------------ Customized Equation Block Highlighter ------------------------ */
.custom-block.eqBlock .custom-block-body {
  background-color: rgb(255, 212, 219);
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
}

.custom-block.eqBlock .custom-block-body p {
  margin-bottom: 0;
}
/* ------------------ Back to Top Button in Week pages ------------------------ */
#back-to-top-btn {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: .5;
  visibility: visible;
  z-index: 1000;
}

#back-to-top-btn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#back-to-top-btn:hover {
  cursor: pointer;
  background-color: #FF9800;
  opacity: 1;
  text-decoration: none;
}

#back-to-top-btn:active {
  opacity: .5;
}

/* ------------------ Tables in Week Posts ------------------------ */
table {
  /* border: #9c9c9c solid 1px; */
  border-collapse: collapse;
  font-family: Arial;
}

th {
  text-align: left;
  padding: 7px;
  padding-left: 1em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4472C4;
}

th[scope=row] {
  text-align: center;
  padding: .2em;
}

td:first-child, th:first-child {
  text-align: center;
  padding-left: 0.5em;
  /* width: 150px; */
}

td {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #D9E1F2;
}

tr:nth-child(even) {
  background-color: #FFFFFF;
}

/* ------------------ Prismjs Code Hightlight ------------------------ */

.gatsby-highlight-code-line {
    background-color: #616161;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid rgb(112, 203, 255);
  }

.gatsby-highlight {
    margin: 0.5em 0;
    padding: 0;
    padding-bottom: 1em;
    overflow: auto;
  }

.gatsby-highlight pre[class*="language-"].line-numbers {
    padding: 0;
    padding-left: 3.8em;
    overflow: auto;
}

/* line numbers' left margin */
span.line-numbers-rows {
    margin-left: 0.5em;
}