/* about page */
.carousel-caption h3, .carousel-caption p {
    color: white;
    /* 1 pixel black shadow to left, top, right and bottom */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 2px 2px 8px black;
}